<!DOCTYPE html>


<html  ng-app="sigApp">
    <head>
    	<link rel="image_src" href="http://www.gisforcloud.com/exemplos/routing_exemplos/rotas_exemplo_combo/img/ps.png" />
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel='stylesheet' href='./js/v3.3.0/css/ol.css'>
		<link rel='stylesheet' href='./css/introjs.css'>
		<link rel='stylesheet' href='./css/main.css'>	
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>	
		<!--<script src="./js/v3.3.0/build/ol.js"></script>-->
		<script src="./js/v3.3.0/build/ol-debug.js"></script>
		<script src="./js/main.js"></script>
		<title>SIG 14/15</title>
	</head>
	
    <body ng-controller="mainController">



        <nav class="navbar navbar-default navbar-inverse navbar-static-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">SIG 14/15</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav">
                <!-- routing -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{algoritm.name || "Algoritmo"}} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="a in algoritms" ng-click="setAlgoritm(a)"><a href="#">{{a.name}}</a></li>
                  </ul>
                </li>

                <!-- map -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{baseLayer.name || "Mapa"}} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="l in _baseLayers" ng-click="setBaseLayer(l)"><a href="#">{{l.name}}</a></li>
                  </ul>
                </li>
             </ul>

              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="number" class="form-control" placeholder="distance (int)" ng-model="distance" min="1" max="180">
                </div>
              </form>


            <button type="button" class="btn btn-default navbar-btn navbar-right" ng-click="clearRouting()"><span class="glyphicon glyphicon-repeat"></span></button>

              <!-- school -->
              <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Procurar escola...">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-map-marker" ng-click="setSchool()"></span></button>
              </form>


            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        <div id="center">
            <div id='mapa'></div>
            <div id="map-wrapper" >
            </div>
        </div>


    </body>
</html>
